@model DatingSite.Models.CardViewModel

    <div class="container h-100">
    @foreach (var item in Model.UserGamesGenrePlatforms)
    {
        <partial name="_DisplayCardPartial" model="item" />
    }
</div>