@model IEnumerable<DataLayer.Models.User>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-8 mx-auto">

        <h1>Potential Matches?</h1>

        @foreach (var item in Model)
        {

            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.LastName)
            @Html.DisplayFor(modelItem => item.Age)
            @Html.DisplayFor(modelItem => item.Gender)
        }
    </div>
</div>