<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - DatingSite</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" type = "text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DatingSite</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="list-style-type: none;">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Index">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="Index">Games</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="SignedIn" asp-action="Index">Match</a>
                        </li>

                        <li>
                            <form method="get" asp-action="Search">
                                <div class="input-group ">
                                    <input class="form-control" @*asp-for="SearchTerm"*@ />
                                    <div class="input-group-append">
                                        <button type"submit" class="btn btn-primary">Search</button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                    @* Create Partial for settings, account *@
                    <li class="nav-item navbar-nav">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index"><img style="height:20px; width:20px;"src="~/img/Avatars/avatar5.png" /></a>
                    </li>
                </div>
            </div>
        </nav>
    </header>
    <div class="container min-vw-100 min-vh-100 np">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>