@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item navbar-nav">
            <a class="nav-link text-dark " asp-controller="Profile" asp-action="Index"><img class="rounded-circle" style="width: 25px" src="~/img/Avatars/avatar5.png" /></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" title="Notifications"> <img style="width: 20px" src="~/img/Icons/bell-fill.svg" alt="Notifications" /> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Chat" asp-action="Index" title="Chat"> <img style="width: 20px" src="~/img/Icons/chat-dots-fill.svg" alt="Chat" /> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><img style="width: 20px" src="~/img/Icons/gear-fill.svg" alt="Alternate Text" /> </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>