@{
    ViewData["Title"] = "Home Page";
}
<div style="z-index:0; background-color:black; opacity: 20%;" class="overlay w-100 h-100" ></div>
<video style="left: 0; top: 0; z-index: -1;" playsinline autoplay muted loop poster="polina.jpg" id="bgvid" class="position-absolute display-1 w-100 ">
    <source src="/img/Backgrounds/WowScreenshot2.mp4" type="video/webm">
    <source src="/img/Backgrounds/WowScreenshot2.mp4" type="video/mp4">
</video>
<div class="home-main-body text-dark " style="background-color: grey; z-index:1; text-align:center">

@*<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>GameCon</h1>
            <p>Hi And wellcome to GameCon</p>
            <p>We are here to help taking your gaming experience to the <strong>next</strong> level!</p>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 n">
                        <img src="~/img/Avatars/avatar1.png" alt="Alternate Text" class="img-fluid rounded" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Avatars/avatar2.png" alt="Alternate Text" class="img-fluid rounded" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Avatars/avatar3.png" alt="Alternate Text" class="img-fluid rounded" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Avatars/avatar4.png" alt="Alternate Text" class="img-fluid rounded" />
                    </div>
                    <div class="col-md-2">
                        <img src="~/img/Avatars/avatar5.png" alt="Alternate Text" class="img-fluid rounded" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <h1>Heya</h1>
            </div>
        </div>
    </div>*@