@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="home-main-body text-dark " style="background-color: green">
    <div class="home-left-body text-left">
        <div class="home-content">
            <h1>GameCon</h1>
            <p>Hi And wellcome to GameCon</p>
            <p>We are here to help taking your gaming experience to the <strong>next</strong> level</p>
        </div>
        <div class="home-pictures">
            <ol>
                <li>
                    <img src="favicon.ico" alt="Picture"/>
                </li>
                <li>
                    <img src="favicon.ico" alt="Picture"/>
                </li>
                <li>
                    <img src="favicon.ico" alt="Picture"/>
                </li>
                <li>
                    <img src="favicon.ico" alt="Picture"/>
                </li>
                <li>
                    <img src="favicon.ico" alt="Picture"/>
                </li>
            </ol>
        </div>
    </div>
    <div class="home-right-body text-right">
        <h1>Login</h1>
        <h1>Register</h1>
    </div>
</div>