/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

body {
    margin-bottom: 0 !important;
    background-color: black;
    color:black;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.selection {
    font-size: 3000px;
}

.game_option {
    display: inline-flex;
}

.container-game {
    display: flex;
    flex-wrap: wrap;
}

    .container-game .option_item {
        display: block;
        position: relative;
        width: 175px;
        height: 175px;
        margin: 10px;
        border: 5px solid red;
    }

        .container-game .option_item .checkbox {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
        }

.option_item .option_inner {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 58px 40px;
    cursor: pointer;
    color: #585c68;
    display: block;
    border: 5px solid transparent;
    position: relative;
}

.option_item .option_inner_selected {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 58px 40px;
    cursor: pointer;
    color: #585c68;
    display: block;
    border: 5px solid transparent;
    position: relative;
}

.option_item  .option_inner_selected.facebook {
    border-color: #3b5999;
    color: #3b5999;
}

    .option_item .option_inner .icon {
        margin-bottom: 10px;
    }

        .option_item .option_inner .icon .fab {
            font-size: 32px;
        }

    .option_item .option_inner .name {
        user-select: none;
    }

.option_item .checkbox:checked ~ .option_inner.facebook {
    border-color: #3b5999;
    color: #3b5999;
}







.option_item .option_inner .tickmark {
    position: absolute;
    top: -1px;
    left: -1px;
    border: 20px solid;
    border-color: #000 transparent transparent #000;
    display: none;
}

    .option_item .option_inner .tickmark:before {
        content: "";
        position: absolute;
        top: -18px;
        left: -18px;
        width: 15px;
        height: 5px;
        border: 3px solid;
        border-color: transparent transparent #fff #fff;
        transform: rotate(-45deg);
    }

.option_item .checkbox:checked ~ .option_inner .tickmark {
    display: block;
}

.option_item .option_inner.facebook .tickmark {
    border-color: #3b5999 transparent transparent #3b5999;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 100px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.div-group {
    display: flex;
}

#home-video {
    left: 0;
    z-index: -1;
    object-fit: cover
}

.bg-div {
    background-color: black;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
}

.np {
    padding: 0 !important;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

body {
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
}

.text-small {
    font-size: 0.9rem;
}

.messages-box,
.chat-box {
    height: 510px;
    overflow-y: scroll;
}

.rounded-lg {
    border-radius: 0.5rem;
}

input::placeholder {
    font-size: 0.9rem;
    color: #999;
}

.cardheader{
    display:flex;
}

.cardimg {
    border-radius: calc(.25rem - 1px);
    width:auto;
    height:20rem;
    padding:1em;
}

.profile-info{
    margin:auto;
}

.player-info {
    width: 30%;
    display: flex;
    flex-direction:column;
}

.player-info img {
    margin: auto;
    height: auto;
}

.img-game {
    width: 6rem;
    border-radius: calc(.25rem - 1px);
}

.img-genre, .img-platform{
    width:4rem;
}

.player-info-items{
    display:flex;
    margin: 0 auto;
    justify-content:center;
}

.card-properties {
    width: 40vw;
    margin-bottom: 6rem;
    padding-top:2rem;
}

.display-flex{
    display:flex;
}

.display-inlineblock{
    display:inline-block;
    text-align:center;
}

.gamelbl{
    min-width:40%;
    height:22vh;
    
}

.paddingauto{
    padding:0 !important
}

.genrelbl{
    min-height:150px;
    min-width:150px;
}

.hide1{
    visibility:hidden;
}

.genreimg{
    height:80%;
    width:80%;
    margin:auto;
}

.mg-top-80{
    margin-top:80%;
}

.mg-top-2{
    margin-top:2rem;
}

.pd-top-05{
    padding-top:0.5rem;
}


.container-g {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.w-18{
    width:18%!important;
}

.flexdirectionrow{
    flex-direction:row;
}

.badge-notify {
    position: relative;
    top: -10px;
    right: 10px;
    border-radius: 50%;
    background: red;
    color: white;
}

.z-index10{
    z-index:10;
}

.margin-top-60{
    margin-top: 60vh;
}

.color-black{
    color: black;
}

.backgroundFrosty {
    background-image: linear-gradient(to right, #c8a162ba, #8f786185);
    background-color: unset;
}

.nav-background {
    background-color: #b5a691!important;
}

.margin-container{
    margin:0 auto 6rem auto;
}

.w-40vw{
    width: 40vw;
}

.profile-border {
    border-left: 2px solid #C49B5B;
    border-top: 3px solid #B5A691;
    border-right: 4px solid #846547;
}

.in-card-border{
    border:1px solid rgba(0,0,0,0.5);
}

.button-profile-border {
    color: black;
    background-color: #887e71;
    border-color: black;
}

    .button-profile-border:hover {
        color: black;
        background-color: #b7b2ac;
        border-color: black;
    }

    .button-profile-border:focus {
        box-shadow: 0 0 0 0.2rem #212529a6
    }

    .button-profile-border:active {
        color: black!important;
        background-color: #887e71!important;
        border-color: black!important;
    }

.profile-header {
    background-color: #ccb79570;
}

.mg-1{
    margin:1rem;
}

.padding-0{
    padding:0;
}

.fit-content{
    margin:auto;
    width: fit-content;
}

li{
    list-style-type:none;
}

video {
    filter: opacity(40%);
}






