@model IEnumerable<DatingSite.Models.GameViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="text-left">Chose your favorite games</h1>
            <hr />
            <form asp-action="Submit" class="form-check mx-auto">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @foreach (var item in Model)
                {
                    @Html.DisplayFor(modelItem => item.Name)
                    <label class="game_option form-check-label">
                        <input type="checkbox" name="CheckBoxes" value="@item.Name" class="checkbox mr-2">
                    </label>
                }
                <div class="form_group">
                    <input type="submit" value="Next step" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


