@model IEnumerable<DatingSite.Models.GameViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}





<div class="card-columns">
    @foreach (var item in Model)
    {
    <div class="card">
        @*<div class="card-img" style="background-image: url('~/../DatingSite/wwwroot/img/Game/@(item.Name).jpg');"></div>*@
        <div class="card-img">
            <img src="~/img/Game/@(item.Name).jpg" style="position: relative; width: 100%; height:100%; object-fit: cover"  />
        </div>

        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <label class="game_option form-check-label">
                <input type="checkbox" name="CheckBoxes" value="@item.Name" class="checkSwag">
            </label>


        </div>
    </div>
    }
</div>




<form asp-action="Submit" class="form-check mx-auto">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container">
        @foreach (var item in Model)
        {
            <label class="option_item form-check-label" style="min-width: 260px; border: 0;">
                <input type="checkbox" name="CheckBoxes" value="@item.Name" class="checkbox">
                <div class="option_inner facebook">
                    <img src="~/img/Game/@(item.Name).jpg" style="position: absolute;top:0;left:0; width: 100%; height:100%; object-fit: cover;" />
                    <div class="tickmark"></div>
                    <div class="card-img" style="background-image: url('/wwwroot/img/Game/AMONG US.jpg')"></div>
                    <div class="name">@item.Name</div>
                </div>

            </label>
        }
    </div>


    <div class="form_group">
        <input type="submit" value="Next step" class="btn btn-primary" />
    </div>
</form>



