@model IEnumerable<DatingSite.Models.GameViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Choose your game!</h1>

@foreach (var item in Model)
{
    @Html.DisplayFor(modelItem => item.Name)
}

