@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row">
    <div class="col-md-6">
        <div class="border rounded p-3">
            <h4>Hide account</h4>
            <p>Makes your account invisible for other users during search operations.</p>
            <form asp-action="HideOrUnhide" asp-controller="Users" class="form-group">
                <button class="btn btn-warning" type="submit">Toggle Hide</button>
                @*<button class="btn btn-warning" type="submit">Unhide</button>*@
            </form>
        </div>
        <br />
        <div class="border rounded p-3">
            <h4>Inactivate account</h4>
            <p>Inactivates your account so it wont show up on the site.</p>
            <p>Account is not deleted.</p>
            <form asp-action="InactivateOrActivate" asp-controller="Users" class="form-group">
                <button class="btn btn-warning" type="submit">Toggle Active</button>
                @*<button class="btn btn-warning" type="submit">Activate</button>*@
            </form>
        </div>
        <br />
        <div class="border rounded p-3">
            <h4>Download data</h4>
            <p>Your account contains personal data that you have given us. This page allows you to download that data.</p>
            <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
                <button class="btn btn-primary" type="submit">Download</button>
            </form>
        </div>
        <br />
        <div class="border rounded p-3">
            <h4>Delete data</h4>
            <p>Your account contains personal data that you have given us. This page allows you to delete that data.</p>
            <p>
                <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
            </p>
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
            </p>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}