@model IEnumerable<DatingSite.Models.FriendViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>Chat</h1>

    @foreach (var item in Model)
    {
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a asp-action="Chat" asp-route-id="@item.UserId">
                    @item.FirstName @item.LastName
                </a>
                <span class="badge badge-primary badge-pill">2</span>
            </li>
        </ul>
    }