<div class="container card-properties w-50 profileMain ">
    <div class="col backgroundFrosty profile-border align-content-center min-vh-100">
        <div class="col p-0 ">
            <input type="text" hidden id="userInput" value="@User.Identity.Name" />
            <h1>Chat</h1>
            <p>Broadcast anything on your mind!</p>
            <input type="text" id="messageInput" class="form-control" />
            <input type="button" id="sendButton" value="Send Message" class="btn btn-primary button-profile-border mt-2" />
        </div>
        <hr />
    <div class="row">
        <div class="col">
            <ul id="messagesList" class="list-group">
            </ul>
        </div>
    </div>
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
</div>