@model DatingSite.Models.RegisterViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="text-left">Lets get to know you more!</h1>
            <hr />
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NickName" class="control-label"></label>
                    <input asp-for="NickName" class="form-control" />
                    <span asp-validation-for="NickName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <select asp-for="Gender" class="form-control">
                        <option>Male</option>
                        <option>Female</option>
                        <option>Xer</option>
                        <option>Xir</option>
                        <option>They</option>
                        <option>Xor</option>
                        <option>Them</option>
                        <option>Herself</option>
                        <option>Attach Helicopter</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nationality" class="control-label"></label>
                    <select asp-for="Nationality" class="form-control">
                        @foreach (var item in ViewBag.NList)
                        {
                            <option>@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Nationality" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Personality" class="control-label"></label>
                    <select asp-for="Personality" class="form-control">
                        @foreach (var item in ViewBag.PList)
                        {
                            <option>@item.Description</option>
                        }
                    </select>
                    <span asp-validation-for="Personality" class="text-danger"></span>
                </div>
                <div class=" form-group">
                    <input type="submit" value="Next step" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
                <div class="progress mt-3">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}