@*@model DatingSite.Models.RegisterViewModel*@
@model DataLayer.Repositories.NationalityRepository

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using DataLayer.Repositories;
@using DataLayer
@{var list = @Model.GetNationalityNames();}
@foreach (var index in list)
{<option>@index</option>}
                    
                


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}