@model IEnumerable<DatingSite.Models.PlatformViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card-properties h-100 w-50 profileMain ">
    <div class="col backgroundFrosty profile-border align-items-center form-check-all ">
        <form asp-action="Submit" class="form-check mx-auto form-check-all backgroundFrosty">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container-g display-inlineblock mb-4 ">
                @foreach (var item in Model)
                {
                    <label class="option_item form-check-label genrelbl mt-1 m-4">
                        <input type="checkbox" name="CheckBoxes" value="@item.Name" class="checkbox hide1 position-fixed checkbox:checked">
                        <div class="option_inner facebook paddingauto genrelbl">
                            <img src="~/img/platform/@(item.Name).png" class="genreimg img-fluid position-absolute fixed-top card-img-top pd-top-05 " />
                            <div class="name mg-top-80">@item.Name</div>
                        </div>
                    </label>
                }
            </div>
                <div class="form_group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div class="progress mt-3">
                    <div class="progress-bar profile-border" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </form>
    </div>
</div>
