@model IEnumerable<DatingSite.Models.PlatformViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="title">
        Choose your platform
    </div>
    <hr />
    <form asp-action="Submit">
        <div asp-validation-summary="ModelOnly" class="text-danger selection"></div>
        @foreach (var item in Model)
        {

            <div class="container">

                <label class="game_option">
                    <img src="~/img/platform/@(item.Name).png" />
                    <input type="checkbox" name="CheckBoxes" value="@item.Name" class="checkbox">
                    <div class="inner_option">
                        <div class="tickmark"></div>
                        <div class="icon"></div>
                        <div class="name">
                        </div>
                    </div>
                </label>
                <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
            </div>
        }
        <div class="form_group">
            @*@using (Html.BeginForm("MyAction", "GamesController"))
                {*@
            <input type="submit" value="Create" class="btn btn-primary" />
            @*<input type="button" name="next_btn" class="next_btn" value="Next" />*@
            @*}*@
        </div>
        <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </form>
</div>