@model IEnumerable<DatingSite.Models.GenreViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="title">
        Choose your favorite genres
    </div>
    <hr />
    <form asp-action="Submit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @foreach (var item in Model)
        {
            @Html.DisplayFor(modelItem => item.Name)

            <div class="container">
                <label class="game_option">
                    <input type="checkbox" class="checkbox">
                    <div class="inner_option">
                        <div class="tickmark"></div>
                        <div class="icon"></div>
                        <div class="name">
                        </div>
                    </div>
                </label>


            </div>
        }
        <div class="form_group">
            @*@using (Html.BeginForm("MyAction", "GamesController"))
            {*@
            <input type="submit" value="Create" class="btn btn-primary" />
            @*<input type="button" name="next_btn" class="next_btn" value="Next" />*@
            @*}*@
        </div>
    </form>
    
</div>