@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="col-md-8 mx-auto">

    <h1>Aktivera ditt konto</h1>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p>
                <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            </p>
        }
    }
</div>